---
layout: default
---

<h1 class="padded bottom">Posts</h1>

{% include links.html home="1" about="1" %}

{% for post in site.posts %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
{% if forloop.first == false %}
<hr />{% endif %}
<h2 class="padded top-bottom">{{ currentdate }}</h2>
{% assign date = currentdate %}
{% endif %}
<div style="font-size: 80%; margin-bottom: 1em;">
  <h3><a class="no-highlight" href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
  {% if post.excerpt %}<p>{{ post.excerpt }}</p>{% endif %}
  <p><small><i>{{ post.date | date: "%B %-d, %Y" }}</i></small></p>
</div>
{% endfor %}
