---
layout: default
---

<div class="ui text container">
  <div class="ui fluid accordion">
    {% for category_hash in site.categories %}
    {% assign category = category_hash[0] %}
    {% if site.categories[category] %}
    {% assign category_name = category | replace:'-',' ' | replace:'_',' ' %}
    <div class="title{% if forloop.first %} active{% endif %}">
      <div style="text-transform: capitalize; text-align: center;">
        {{ category_name }}
        <i class="dropdown icon"></i>
      </div>
    </div>
    <div class="content{% if forloop.first %} active{% endif %}">
      <div class="ui list">
        {% for post in site.categories[category] %}
        <div class="item">
            <div class="content">
                <div class="header">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </div>
                <div class="ui horizontal link list">
                    <div class="item">{{ post.date | date:"%B %-d, %Y" }}</div>
                    {% for link_hash in post.links %}
                    {% for link in link_hash %}
                    <a class="item" target="_blank" href="{{ link[1] }}"><i class="ui angle right icon"></i>{{ link[0] | strip }}</a>
                    {% endfor %}
                    {% endfor %}
                </div>
                <div class="description">{{ post.excerpt }}</div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<script>
$('.ui.accordion').accordion();
</script>
