---
layout: default
---

<div class="fade-in">
  <a href="/" class="no-highlight">
    <h1 class="padded bottom" id="site-tagline">{{ site.tagline }}</h1>
  </a>
  <p id="blog-link">
    This is my blog. I also have some interactive posts
    <a href="https://lightning.bolte.cc/#/">here</a>.
  </p>
  <p class="padded bottom">
    {% include links.html %}
  </p>
</div>

{% assign found_draft = false %}
{% for post in site.posts %}
{% if post.draft %}
{% assign found_draft = true %}
<div class="padded bottom" style="font-size: 80%">
  <a class="no-highlight" href="{{ post.url }}">
    <h1>
      🚧 Draft! 🚧 {{ post.category }} {{ post.title }}
      <small><i>{{ post.date | date: "%B %-d, %Y" }}</i></small>
    </h1>
    <h3>{{ post.excerpt | truncate: 240 }}</h3>
  </a>
</div>
{% endif %}
{% endfor %}
{% if found_draft %}
<hr class="padded bottom" />
{% endif %}

{% assign found_pinned = false %}
{% for post in site.posts %}
{% if post.pinned %}
{% assign found_pinned = true %}
<div class="padded bottom" style="font-size: 80%">
  <a class="no-highlight" href="{{ post.url }}">
    <h1>
      📌 {{ post.title }}
      <small><i>{{ post.date | date: "%B %-d, %Y" }}</i></small>
    </h1>
    <h3>{{ post.excerpt | truncate: 240 }}</h3>
  </a>
</div>
{% endif %}
{% endfor %}
{% if found_pinned %}
<hr class="padded bottom" />
{% endif %}

{% for post in paginator.posts %}
<div class="padded bottom" style="font-size: 80%">
  <a class="no-highlight" href="{{ post.url }}">
    <h1>
      {{ post.category }} {{ post.title }}
      <small><i>{{ post.date | date: "%B %-d, %Y" }}</i></small>
    </h1>
    <h3>{{ post.excerpt | truncate: 240 }}</h3>
  </a>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<p class="padded bottom">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}">Newer</a>
  {% endif %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% endif %}
</p>
{% endif %}
