---
layout: default
---

{% assign num_posts = site.posts | size %}

{% for category_hash in site.categories %}
{% assign category = category_hash[0] %}
{% if site.categories[category] %}
{% assign category_name = category | replace:'-',' ' | replace:'_',' ' %}
<h1 data-toggle="collapse" data-target="#{{ category }}_container" class="page-header text-center" style="text-transform: capitalize; margin: 0 0 0.5em 0; cursor: pointer;">
  {{ category_name }}
  <small><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></small>
</h1>
<div class="container-fluid collapse" id="{{ category }}_container">
  <div class="row">
    {% for page in site.categories[category] %}
    {% assign mod = forloop.index0 | modulo: 3 %}
    <div class="col-xs-12 col-sm-4">
      <a href="{{ site.baseurl }}{{ page.url }}" class="no-highlight">
        <h3 class="color-{{ page.excerpt.size | modulo: 3 }}" style="line-height: 1.2em; margin: 0;">{{ page.title }}</h3>
      </a>
      <h4 style="margin: 0;">{{ page.date | date: "%B %-d, %Y" }}</h4>
      <p style="margin: 0 0 1em 0;">{{ page.excerpt }}</p>
    </div>
    {% if mod == 2 %}
  </div>
  <div class="row">
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}
