/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
.post {
  h1, h2, h3, h4, h5, h6,
  p, blockquote, pre,
  figure, details,
  %vertical-rhythm {
    margin-bottom: 1em;
  }

  figure.highlight {
    padding: 0;
    margin: 0 1em 1em 0;
    font-size: 90%;
    background-color: #f7f7ff;

    pre {
      padding: 1em;
    }
  }
}

blockquote {
  font-size: 95%;
  opacity: 80%;
  margin: 1em;
}

code {
  color: $font-color;
  background-color: #f7f7ff;
}

iframe {
  width: 80%;
  display: block;
  margin: 1em auto 1em auto;
}

svg {
  width: 80%;
  display: block;
  margin: auto;
  padding: 1em 0 1em 0;

  text {
    font-size: 25px;
    text-anchor: middle;
  }
}

.emphasis {
  &.top {
    padding-top: $emphasis-padding;
  }

  &.bottom {
    padding-bottom: $emphasis-padding;
  }

  &.top-bottom {
    padding-top: $emphasis-padding;
    padding-bottom: $emphasis-padding;
  }

  &.all {
    padding: $emphasis-padding;
  }
}

.padded {
  &.top {
    padding-top: $base-padding;
  }

  &.bottom {
    padding-bottom: $base-padding;
  }

  &.top-bottom {
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }

  &.all {
    padding: $base-padding;
  }
}

.centered {
  display: block;
  text-align: center;
}
