html,
body {
  background-color: $background-color-light;
  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
  }
}
.light-fill {
  fill: $background-color-light;
  @media (prefers-color-scheme: dark) {
    fill: $background-color-dark;
  }
}
.dark-fill {
  fill: $background-color-dark;
  @media (prefers-color-scheme: dark) {
    fill: $background-color-light;
  }
}
.light-stroke {
  stroke: $background-color-light;
  @media (prefers-color-scheme: dark) {
    stroke: $background-color-dark;
  }
}
.dark-stroke {
  stroke: $background-color-dark;
  @media (prefers-color-scheme: dark) {
    stroke: $background-color-light;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
.post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  figure,
  details,
  %vertical-rhythm {
    margin-bottom: 1em;
  }

  p > code {
    padding: 0.3em;
    margin: 0.3em;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  figure.highlight {
    padding: 0;
    font-size: 90%;
    background-color: $figure-color-light;
    border: 1px solid $border-color;
    border-radius: $border-radius;

    @media (prefers-color-scheme: dark) {
      background-color: $figure-color-dark;
    }

    pre {
      padding: 1em;
      margin: 0;
    }
  }
}

details > div {
  padding-top: 1em;
}

.table td,
th,
tr {
  border-bottom-color: $background-color-dark !important;
  border-top-color: $background-color-dark !important;

  @media (prefers-color-scheme: dark) {
    border-bottom-color: $background-color-light !important;
    border-top-color: $background-color-light !important;
  }
}

table {
  color: inherit !important;
}

.footnotes {
  margin-top: 5em;
  font-size: 85%;
}

blockquote {
  font-size: 95%;
  opacity: 80%;
  margin: 1em;
}

pre code {
  color: $font-color-light;

  @media (prefers-color-scheme: dark) {
    color: $font-color-dark;
  }
}

iframe {
  width: 80%;
  display: block;
  margin: 1em auto 1em auto;
}

svg,
img {
  width: 80%;
  display: block;
  margin: auto;
  padding: 1em 0 1em 0;

  text {
    font-size: 25px;
    text-anchor: middle;
  }
}

.emphasis {
  &.top {
    padding-top: $emphasis-padding;
  }

  &.bottom {
    padding-bottom: $emphasis-padding;
  }

  &.top-bottom {
    padding-top: $emphasis-padding;
    padding-bottom: $emphasis-padding;
  }

  &.all {
    padding: $emphasis-padding;
  }
}

.padded {
  &.top {
    padding-top: $base-padding;
  }

  &.bottom {
    padding-bottom: $base-padding;
  }

  &.top-bottom {
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }

  &.all {
    padding: $base-padding;
  }
}

.centered {
  display: block;
  text-align: center;
}
