body {
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  padding: 0;
  margin: 0;
  color: $font-color-light;
  @media (prefers-color-scheme: dark) {
    color: $font-color-dark;
  }
}

.light-color {
  color: $font-color-light;
}

.dark-color {
  color: $font-color-dark;
}

strong {
  font-weight: $base-font-weight * 2;
}

h1 {
  font-size: $base-font-size * 1.5;
  font-weight: $base-font-weight * 1.5;
}

h2 {
  font-size: $base-font-size * 1.3;
  font-weight: $base-font-weight * 1.3;
}

h3 {
  font-size: $base-font-size * 1.2;
  font-weight: $base-font-weight * 1.1;
}

h4 {
  font-size: $base-font-size * 1.1;
  font-weight: $base-font-weight;
  line-height: 1.3;
}

blockquote {
  font-style: italic;
}
