a {
  text-decoration: none;
  color: $font-color;
  position: relative;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: $font-color;
}

a:after {
  border-radius: 0.2em;
  content: "";
  position: absolute;
  z-index: -1;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  height: 0.1em;
  transition: all 200ms ease;
  background-color: $highlight-color;
}

a:hover:after {
  height: 100%;
}

a.no-highlight {
  display: inline;
}

a.no-highlight:after {
  content: none;
}

.fade-in {
  opacity: 0.6;
}

.fade-in:hover {
  opacity: 1.0;
}

.fade-in {
  transition: all 200ms ease;
}

a.header-link {
  margin-left: 0.3em;
  opacity: 0;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

a.reversefootnote:after, a.footnote::after {
  content: none;
}
