a {
  text-decoration: none;
  color: $highlight-color;
  transition: all 200ms ease;
}

a:hover {
  text-decoration: none;
  color: $highlight-color-transparent;
  transition: all 200ms ease;
}

a.no-highlight {
  color: inherit;
  display: inline;
}

.fade-in {
  opacity: 0.6;
}

.fade-in:hover {
  opacity: 1;
}

.fade-in {
  transition: all 200ms ease;
}

a.header-link {
  margin-left: 0.3em;
  opacity: 0;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}
