/* -------------- *
 * Font variables *
 * -------------- */
$base-font-size: 1em;
$base-font-weight: 350;
$highlight-color: rgba(79, 185, 193, 1.0);
$highlight-color-transparent: transparentize($highlight-color, 0.2);
$flair-color: rgba(57, 114, 73, 1.0);
$flair-color-transparent: transparentize($flair-color, 0.5);
$font-color-light: rgb(18, 19, 20);
$font-color-dark: rgb(237, 238, 239);

/* ---------------- *
 * Layout variables *
 * ---------------- */
$base-padding: 1em;
$emphasis-padding: 3em;
$base-line-height: 1;
$border-radius: 4px;
$border-color: rgba(0, 0, 0, 0.2);

/* -------------- *
 * Page variables *
 * -------------- */
$background-color-light: rgb(255, 255, 255);
$background-color-dark: rgb(18, 19, 20);
$figure-color-light: rgb(245, 245, 255);
$figure-color-dark: rgb(0, 0, 0);

/* ----------- *
 * Misc colors *
 * ----------- */
$color-a-light: rgb(207, 226, 243);
$color-b-light: rgb(182, 215, 168);
$color-c-light: rgb(234, 209, 220);
$color-d-light: rgb(255, 211, 186);
$color-e-light: rgb(244, 159, 188);
$color-a-dark: rgb(81, 163, 163);
$color-b-dark: rgb(117, 72, 94);
$color-c-dark: rgb(203, 144, 77);
$color-d-dark: rgb(223, 204, 116);
$color-e-dark: rgb(195, 233, 145);
