/* -------------- *
 * Font variables *
 * -------------- */
$base-font-size: 1em;
$base-font-weight: 350;
$highlight-color: rgba(79, 185, 193, 1);
$highlight-color-transparent: transparentize($highlight-color, 0.2);
$flair-color: rgba(57, 114, 73, 1);
$flair-color-transparent: transparentize($flair-color, 0.5);
$font-color-light: rgb(18, 19, 20);
$font-color-dark: rgb(237, 238, 239);

/* ---------------- *
 * Layout variables *
 * ---------------- */
$base-padding: 1em;
$emphasis-padding: 3em;
$base-line-height: 1;
$border-radius: 4px;
$border-color: rgba(0, 0, 0, 0.2);

/* -------------- *
 * Page variables *
 * -------------- */
$background-color-light: rgb(255, 255, 255);
$background-color-dark: rgb(18, 19, 20);
$figure-color-light: rgb(245, 245, 255);
$figure-color-dark: rgb(0, 0, 0);

/* ----------- *
 * Misc colors *
 * ----------- */
$color-a-light: #072b58;
$color-b-light: #626173;
$color-c-light: #2d434c;
$color-d-light: #e8595c;
$color-e-light: #893046;
$color-f-light: #263344;
$color-g-light: #353639;
$color-h-light: #ea7624;
$color-i-light: #bc201e;
$color-j-light: #831416;
$color-a-dark: #1aa494;
$color-b-dark: #449eeb;
$color-c-dark: #9fdadb;
$color-d-dark: #b3cd63;
$color-e-dark: #f7d12e;
$color-f-dark: #fef0a1;
$color-g-dark: #eccc98;
$color-h-dark: #708794;
$color-i-dark: #c9bb9c;
$color-j-dark: #f9f1dc;
