<footer>
  <div style="margin-top: 1em;">
    <details>
      <summary>
        Citation
        <a style="margin-left: 1em" href="{{ '/blog/feed.xml' | relative_url }}">RSS</a>
        {% for tag in page.tags %}
        <a style="margin-left: 1em" href="{{ '/blog/feed/tagged/' | relative_url }}{{ tag }}.xml">#{{ tag }}</a>
        {% endfor %}
      </summary>
      <div class="highlight">
        <pre class="highlight"><code class="citation">@article{
    title    = "{{ page.title }}",
    journal  = "{{ site.title }}",
    author   = "Benjamin Bolte",
    year     = "{{ page.date | date: "%Y" }}",
    month    = "{{ page.date | date: "%m" }}",
    url      = "{{ page.url | absolute_url }}",
}</code></pre>
      </div>
    </details>
  </div>
  </span>

  <script type="text/javascript" src="{{ '/assets/js/copy-code-blocks.js' | relative_url }}" defer></script>
  <script type="text/javascript" src="{{ '/assets/js/collapse-code-blocks.js' | relative_url }}" defer></script>
  <script type="text/javascript" src="{{ '/assets/js/table-of-contents.js' | relative_url }}" defer></script>
</footer>
