<h2 class="title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
<nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/about' | relative_url }}">About</a>
    <a href="https://github.com/codekansas">Github</a>
    <a href="https://twitter.com/benjamin_bolte">Twitter</a>
    <a href="https://wiki.bolte.cc">Wiki</a>

    {% for link in site.links %}
    <a href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
    {% endfor %}

    {% for link in site.special_links %}
    <a href="{{ link[1] | relative_url }}">[{{ link[0] }}]</a>
    {% endfor %}
</nav>
