<figure class="image">
  <div style="max-width: 85%; vertical-align: middle; margin: 0 auto;">
    <a href="{{ include.url1 }}" target="_blank">
      <img style="width: 100%;" src="{{ include.url1 }}" alt="{{ include.description }}"/>
    </a>
    <div style="max-width: 85%; vertical-align: middle; margin: 0 auto;">
      <a href="{{ include.url2 }}" target="_blank">
        <img style="display: inline-block; width: 49.5%;" src="{{ include.url2 }}" alt="{{ include.description }}"/>
      </a>
      <a href="{{ include.url3 }}" target="_blank">
        <img style="display: inline-block; width: 49.5%;" src="{{ include.url3 }}" alt="{{ include.description }}"/>
      </a>
    </div>
  </div>
  <figcaption align="bottom">{{ include.description }}</figcaption>
</figure>
