---
---

@import "variables", "links", "standalone", "colors";

h2:before {
  content: "";
  display: inline-block;
  margin-right: 1%;
  width: 16%;
  height: 10px;
  background-color: $flair-color-transparent;
}
