<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.filename }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>

<body>

<script type="text/javascript">
function downloadPage(filename) {
  var element = document.createElement('a');
  var text = document.getElementById('contents').textContent.trim();
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', filename);

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
}
</script>

  <div style="margin: 10px;">
    <table class="note">
      <tr><th style="padding: 0;"><a href="#" style="display: block; padding: 6px; padding-left: 12px;" onclick="downloadPage('{{ page.filename }}')">{{ page.filename }}</a></th></tr>
      {% if page.description %}<tr><td>{{ page.description }}</td></tr>{% endif %}
    </table>
    <div id="contents">{{ content }}</div>
  </div>

</body>

</html>

