<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  {% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt | strip_newlines }}" />
  {% endif %}

  <!-- For saving page to mobile device -->
  <link rel="manifest" href="{{ site.baseurl }}/assets/manifest.json" />

  <!-- Viewport disables mobile zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  {% if page.math %}
  <!-- Mathjax -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {
        equationNumbers: {
          autoNumber: "AMS"
        }
      },
      tex2jax: {
        inlineMath: [ ['$','$'] ],
        displayMath: [ ['$$','$$'] ],
        processEscapes: true,
      }
    });
  </script>
  <script type="text/javascript" src="{{ site.cdn.mathjax }}"></script>
  {% endif %}

  <!-- Boostrap -->
  <link rel="stylesheet" href="{{ site.cdn.bootstrap-css }}"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!-- Custom Sass -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  {% if site.analytics.google %}
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.google }}');
  </script>
  {% endif %}

  {% if site.analytics.facebook %}
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{ site.analytics.facebook }}');
    fbq('track', 'PageView');
  </script>

  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id={{ site.analytics.facebook }}&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  {% endif %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/favicon-16x16.png" />

  <!-- Run when the page loads -->
  <script defer type="text/javascript">
    document.onreadystatechange = function () {
      if (this.readyState === "complete") {
        // Header links.
        const postContainer = document.getElementsByClassName("post")[0];
        if (postContainer) {
          postContainer.querySelectorAll("h1, h2, h3, h4").forEach(function (node) {
            const anchor = document.createElement("a");
            anchor.className = "header-link no-highlight";
            anchor.href = "#" + node.id;
            anchor.innerHTML = "🔗";
            node.appendChild(anchor);
          });
        }

        // Additional Facebook pixel tracking.
        function trackClick(n) {
          var link = document.getElementById(n + '-link');
          if (link) {
            link.addEventListener(
              'click',
              function () {
                fbq('track', (n.charAt(0).toUpperCase() + n.slice(1)) + 'Click');
              }
            );
          }
        }

        trackClick('resume');
        trackClick('github');
        trackClick('twitter');
        trackClick('email');
        trackClick('feed');
      }
    };
  </script>
</head>

<body>
  <div class="container emphasis top-bottom">
    {{ content }}
  </div>
</body>

</html>