<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <!-- For saving page to mobile device -->
  <link rel="manifest" href="{{ site.baseurl }}/assets/manifest.json" />

  <!-- Viewport disables mobile zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- MathJax -->
  {% if page.mathjax %}
  <script defer src="{{ site.cdn.mathjax }}"></script>
  {% endif %}

  <!-- Boostrap -->
  <link rel="stylesheet" href="{{ site.cdn.bootstrap-css }}"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!-- Custom Sass -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>

<body>
  <div class="container emphasis top-bottom">
    {{ content }}
  </div>
</body>

</html>
