---
layout: default
---

<div class="page-header text-center fade-in">
  <a href="/" class="no-highlight">
    <h1>{{ page.title }}</h1>
  </a>
  <h4>{{ page.date | date: "%B %-d, %Y" }}</h4>
  <h4>{{ page.excerpt | truncate: 240 }}</h4>
</div>

<div class="container post emphasis top" style="max-width: 800px;">
  {{ content }}

  {% if page.draft %}
  <div>Draft doesn't have comments enabled.</div>
  {% else %}
  <script src="https://utteranc.es/client.js" repo="codekansas/codekansas.github.io" issue-term="pathname"
    theme="github-light" crossorigin="anonymous" async></script>
  {% endif %}

  <small class="padded top-bottom centered">
    {% include links.html %}
  </small>
</div>
