<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  </head>
  <body>
    {% include header.html %}

    <div class="ui main text container post">
      <h1 class="ui center aligned header">
        {{ page.title }}
      </h1>

      <div class="ui basic center aligned segment">
        {{ page.excerpt }}
      </div>

      <div class="ui basic center aligned segment">
        <div class="ui medium rounded image">
          <img src="{{ page.image }}">
        </div>
      </div>

      <div class="ui divider"></div>

      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
