<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  </head>
  <body>
    {% include header.html %}

    <div class="ui main text container post">
      <h1 class="ui center aligned header">
        {{ page.title }}
      </h1>

      <div class="ui basic center aligned segment">
        <div>{{ page.excerpt }}</div>
        
        <div class="ui horizontal link list">
            <div class="item">{{ page.date | date:"%B %-d, %Y" }}</div>
            {% for link_hash in page.links %}
            {% for link in link_hash %}
            <a class="item" target="_blank" href="{{ link[1] }}"><i class="ui angle right icon"></i>{{ link[0] | strip }}</a>
            {% endfor %}
            {% endfor %}
        </div>
      </div>

      <div class="ui divider"></div>

      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
